[Unit]
Description=ServerStatus Agent IPv4
After=network.target

[Service]
Type=simple
# 确保路径与 sss-agent.sh 中的 SSS_AGENT_PATH 一致
WorkingDirectory=/opt/stacks/sss/agent
ExecStart=/usr/bin/python3 /opt/stacks/sss/agent/client-linux.py SERVER=sss_host USER=sss_user PASSWORD=sss_pass
Restart=always
Environment="PYTHONIOENCODING=utf-8"
User=root

[Install]
WantedBy=multi-user.target
